---
import RoundedGrid from "../components/RoundedGrid.astro";
---

<section class="relative overflow-hidden border-t border-white/5">
  <RoundedGrid />
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-24">
    <div class="relative items-center">
      <div class="">
        <div class="max-w-xl mx-auto text-center">
          <span
            class="text-sm text-transparent uppercase bg-gradient-to-r from-emerald-500 from-0% to-100% to-emerald-900 bg-clip-text"
            title="Contratar plan de hosting"
            aria-label="Contratar plan de hosting"
            >Solicita ahora tu plan de hosting
          </span>
          <p
            class="mt-8 text-4xl font-normal tracking-tighter text-white sm:text-5xl"
          >
            Hosting web para empresas
          </p>
          <p class="max-w-xl mx-auto mt-4 text-gray-400">
            La mejor opción para el desarrollo de tu negocio en Internet
          </p>
        </div>
        <div class="flex justify-center mt-8">
          <a
            href="https://maurel.cl/store/hosting-directadmin"
            class="flex gap-1 items-center justify-center h-10 px-4 py-2 text-sm transition-all rounded-lg text-emerald-400 hover:text-emerald-950 bg-emerald-950 hover:bg-emerald-400"
            title="Planes de Hosting DirectAdmin"
            aria-label="Planes de Hosting DirectAdmin"
            >Quiero contratar ahora
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-6"
              viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="M17.073 12.5H5.5q-.213 0-.357-.143T5 12t.143-.357t.357-.143h11.573l-3.735-3.734q-.146-.147-.152-.345t.152-.363q.166-.166.357-.168t.357.162l4.383 4.383q.13.13.183.267t.053.298t-.053.298t-.183.268l-4.383 4.382q-.146.146-.347.153t-.367-.159q-.16-.165-.162-.354t.162-.354z"
              ></path></svg
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
