---
import Verticalgrid from "../components/Verticalgrid.astro";
---

<section class="relative">
  <Verticalgrid />
  <div
    class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative space-y-24"
  >
    <div class="grid grid-cols-1 gap-4 mt-6 list-none lg:grid-cols-2 lg:gap-24">
      <div>
        <p
          class="text-sm text-transparent uppercase bg-gradient-to-r from-emerald-500 from-0% to-40% to-emerald-600 bg-clip-text"
        >
          Características de Nuestros Planes
        </p>
        <h2 class="text-3xl mt-8 font-normal text-white trackingt-tight">
          Conecta tu negocio con la mejor experiencia de Hosting
        </h2>
        <p class="mt-4 text-base text-gray-400">
          Nuestro sistema de alojamiento web reúne todas las necesidades
          requeridas por el cliente para así obtener un óptimo Servicio de
          Calidad Profesional.
        </p>
        <div class="flex flex-wrap mt-10">
          <a
            href="https://maurel.cl/store/hosting-directadmin"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm text-white transition-all border rounded-lg hover:text-emerald-400 border-emerald-700"
            >Ver Planes
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-6"
              viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="M17.073 12.5H5.5q-.213 0-.357-.143T5 12t.143-.357t.357-.143h11.573l-3.735-3.734q-.146-.147-.152-.345t.152-.363q.166-.166.357-.168t.357.162l4.383 4.383q.13.13.183.267t.053.298t-.053.298t-.183.268l-4.383 4.382q-.146.146-.347.153t-.367-.159q-.16-.165-.162-.354t.162-.354z"
              ></path></svg
            >
          </a>
        </div>
      </div>
      <div class="lg:mt-0 mt-12 h-full">
        <img
          alt="Hosting con DirectAdmin, ideal para pequeñas y medianas empresas"
          class="rounded-2xl shadow-2xl shadow-vulcan-950/50 w-full"
          src="./assets/service__tab.webp"
        />
      </div>
    </div>
    <ul
      class="grid grid-cols-1 gap-6 mt-12 list-none md:grid-cols-3 lg:gap-12 lg:mt-24"
      role="list"
    >
      <li>
        <div>
          <p class="text-sm font-medium text-emerald-400">01.</p>
          <h3 class="text-lg mt-6 font-medium text-white lg:text-xl">
            Respaldos semanales
          </h3>
        </div>
        <p class="mt-2 text-base text-gray-400">
          Realizamos un respaldo diario, semanal y mensual de tus datos, por lo
          que puedes restaurar o modificar tus archivos con mayor tranquilidad.
        </p>
      </li>
      <li>
        <div>
          <p class="text-sm font-medium text-emerald-400">02.</p>
          <h3 class="text-lg mt-6 font-medium text-white lg:text-xl">
            Seguridad y Estabilidad
          </h3>
        </div>
        <p class="mt-2 text-base text-gray-400">
          Tus datos son respaldados diariamente para que no pierdas nada y
          puedas modificar tu sitio web sin preocupaciones.
        </p>
      </li>
      <li>
        <div>
          <p class="text-sm font-medium text-emerald-400">03.</p>
          <h3 class="text-lg mt-6 font-medium text-white lg:text-xl">
            Anti Spam
          </h3>
        </div>
        <p class="mt-2 text-base text-gray-400">
          Despreocúpate de recibir ese molesto spam en tu bandeja de entrada.
          Ahora podrás bloquear hasta el 80% de Spam que recibas con Anti-Spam
          p.
        </p>
      </li>
      <li>
        <div>
          <p class="text-sm font-medium text-emerald-400">04.</p>
          <h3 class="text-lg mt-6 font-medium text-white lg:text-xl">
            Certificados SSL Gratis
          </h3>
        </div>
        <p class="mt-2 text-base text-gray-400">
          Si ya eres su proveedor, ahora se sentirán más cómodos y confiados en
          alguien que los informa y les demuestra su conocimiento.
        </p>
      </li>
      <li>
        <div>
          <p class="text-sm font-medium text-emerald-400">05.</p>
          <h3 class="text-lg mt-6 font-medium text-white lg:text-xl">
            Soporte 24/7
          </h3>
        </div>
        <p class="mt-2 text-base text-gray-400">
          Tenemos soporte todos los días del año a través de tickets y télefono
          para ayudarte cuando lo necesites.
        </p>
      </li>
      <li>
        <div>
          <p class="text-sm font-medium text-emerald-400">06.</p>
          <h3 class="text-lg mt-6 font-medium text-white lg:text-xl">
            Super Rápido
          </h3>
        </div>
        <p class="mt-2 text-base text-gray-400">
          Contamos con servidores ultra rápidos y discos duros con tecnología
          SSD para que tus clientes no tengan que esperar.
        </p>
      </li>
    </ul>
  </div>
</section>
