---
import Blurgradientleft from "../Blurgradientleft.astro";
const fechaYear = new Date().getFullYear();
---

<footer class="relative border-t bg-vulcan-900 border-white/5">
  <Blurgradientleft />
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-24">
    <div class="grid md:grid-cols-4 gap-8">
      <div
        class="text-white flex flex-col md:items-start items-center justify-between order-2 md:order-1 md:col-span-1"
      >
        <div class="flex gap-2 items-center justify-center">
          <img
            src="./assets/logo-dm.webp"
            alt="Maurel Hosting"
            class="h-12 w-auto"
          />
          <p class="text-xs font-light uppercase">HOSTING WEB</p>
        </div>
        <p class="mt-8 text-sm text-vulcan-300">
          <span class="mt-6 text-sm font-normal text-gray-400">
            © {fechaYear} - All rights reserved
          </span>
        </p>
      </div>
      <div
        class="grid md:grid-cols-4 grid-cols-2 gap-8 order-1 md:order-2 md:col-span-3"
      >
        <div>
          <h3 class="text-white">Planes</h3>
          <ul role="list" class="mt-4 space-y-2">
            <li>
              <a
                class="inline-flex items-center text-sm text-gray-400 hover:text-white"
                href="https://maurel.cl/cart.php?a=add&pid=7"
                title="Starter"
                aria-label="Starter">Starter</a
              >
            </li>
            <li>
              <a
                class="inline-flex items-center text-sm text-gray-400 hover:text-white"
                href="https://maurel.cl/cart.php?a=add&pid=8"
                title="Básico"
                aria-label="Básico">Básico</a
              >
            </li>
            <li>
              <a
                class="inline-flex items-center text-sm text-gray-400 hover:text-white"
                href="https://maurel.cl/cart.php?a=add&pid=10"
                title="Pyme"
                aria-label="Pyme"
                >Pyme<span
                  class="items-center inline-flex text-emerald-400 bg-emerald-950 ml-4 px-3 py-0.5 rounded-full text-xs"
                  >Popular</span
                ></a
              >
            </li>

            <li>
              <a
                href="https://maurel.cl/cart.php?a=add&pid=9"
                title="Profesional"
                aria-label="Profesional"
                class="text-sm text-gray-400 hover:text-white"
              >
                Profesional
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-white">Otros servicios</h3>
          <ul role="list" class="mt-4 space-y-2">
            <li>
              <a
                href="https://www.dmaurel.cl/diseno-de-paginas-web/"
                title="Diseño Páginas Web"
                aria-label="Diseño Páginas Web"
                class="text-sm text-gray-400 hover:text-white"
                target="_blank"
              >
                Diseño Web
              </a>
            </li>
            <li>
              <a
                href="https://www.dmaurel.cl/diseno-de-landing-page/"
                title="Diseño Landing Page"
                aria-label="Diseño Landing Page"
                class="text-sm text-gray-400 hover:text-white"
                target="_blank"
              >
                Landing Pages
              </a>
            </li>
            <li>
              <a
                href="https://www.dmaurel.cl/tienda-virtual/"
                title="Tienda Virtual"
                aria-label="Tienda Virtual"
                class="text-sm text-gray-400 hover:text-white"
                target="_blank"
              >
                Tiendas Virtuales
              </a>
            </li>
            <li>
              <a
                href="https://www.dmaurel.cl/integracion-webpay-plus/"
                title="Integración Webpay Plus"
                aria-label="Integración Webpay Plus"
                class="text-sm text-gray-400 hover:text-white"
                target="_blank"
              >
                Integración Webpay Plus
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-white">Sobre Mí</h3>
          <ul role="list" class="mt-4 space-y-2">
            <li>
              <a
                href="https://www.dmaurel.cl"
                title="Diseñador Web Freelance"
                aria-label="Diseñador Web Freelance"
                class="text-sm text-gray-400 hover:text-white"
                target="_blank"
              >
                Diseñador Web
              </a>
            </li>
            <li>
              <a
                href="https://www.dmaurel.cl/proyectos-realizados/"
                title="Proyectos Realizados"
                aria-label="Proyectos Realizados"
                class="text-sm text-gray-400 hover:text-white"
                target="_blank"
              >
                Portafolio
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-white">Redes Sociales</h3>
          <ul role="list" class="mt-4 space-y-2">
            <li>
              <a
                href="https://instagram.com/dmaurel.cl"
                class="text-sm text-gray-400 hover:text-white"
                title="Instagram"
                aria-label="Instagram"
                target="_blank"
              >
                @dmaurel.cl
              </a>
            </li>
            <li>
              <a
                href="https://twitter.com/dmaurelc"
                class="text-sm text-gray-400 hover:text-white"
                title="Twitter"
                aria-label="Twitter"
                target="_blank"
              >
                @dmaurelc
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script
    type="text/javascript"
    src="https://embed.chatnode.ai/56176ee4-5372-410e-8b11-c7b7a7af5042/popup.js"
    async></script>
</footer>
